.Header {
  padding: 26px 24px 161px;
  background: url('../../../../public/pattern-bg.png');
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Title {
  margin-bottom: 24px;
}