@import '/src/config/styles/tokens.scss';

.Input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  color: $inputColor;
  font-size: $fontSize-h3;

  &::placeholder {
    color: adjust-color($color: $inputColor, $alpha: -.5);
    mix-blend-mode: normal;
  }
} 